.container {
  min-height: 100vh;
  background-color: rgba(171, 175, 223, 0.3);
}

.App {
  text-align: center;
  padding: 32px;
}

p {
  font-size: 20px;
  font-weight: bold;
}

ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 40px;
  padding: 0;
}

li {
  list-style: none;
}

button {
  font-size: 18px;
}
